{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/response.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ангийский дом</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=320">
</head>

<body>
    <div class="switch_lang">

        <span id="ru" class="lang active">RU</span>
        <span id='eng' class="lang ">ENG</span>
    </div>
    <header>
        <a href="{% url 'main' %}" class="logo-link"><img class="logo" src="{% static 'img/logo.png' %}" alt=""></a>
        <nav>
            <div class="left-links">
                <a href="{% url 'portfolio' %}">Наши проекты</a>
                <a href="{% url 'events' %}">События</a>
            </div>
            <div class="center-links">
                {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail' category.slug %}">{{ category.Title_ru }}</a> {% endif %} {% endfor %}


            </div>
            <div class="right-links">
                <a href="{% url 'aboutus' %}">О нас</a>
                <a href="{% url 'contacts' %}">Контакты</a>
            </div>
        </nav>
        <div class="mobile-header">
            <a href="{% url 'main' %}" class="mobile-logo-link"><img src="{% static 'img/logo-mobile.png' %}" alt="LOGO" class="mobile-logo"></a>
            <div class="menu">
                <div class="hambergerIcon"></div>
            </div>
        </div>
        <div class="nav-mobile">
            <h3>Наш ассортимент</h3>
            <ul>
                {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail' category.slug %}">
                    <li>{{ category.Title_ru }}</li>
                </a>
                {% endif %} {% endfor %}
            </ul>
            <h3>English House</h3>
            <ul>
                <a href="{% url 'portfolio' %}">
                    <li>Наши проекты</li>
                </a>
                <a href="{% url 'events' %}">
                    <li>События</li>
                </a>
                <a href="{% url 'contacts' %}">
                    <li>Контакты</li>
                </a>
                <a href="{% url 'aboutus' %}">
                    <li>О нас</li>
                </a>
            </ul>
            <ul>
                <a id="eng-version" href="">
                    <li>English version</li>
                </a>
            </ul>
        </div>
    </header>

    {% block content %} {% endblock %}


    <a class="call-mobile" href="tel:+799999999"><img src="{% static 'img/call.svg' %}" alt=""></a>


    <footer>
        <div class="column">
            <h3>О компании</h3>
            <ul>
                <a href="{% url 'aboutus' %}">
                    <li>О нас</li>
                </a>
                <a href="{% url 'contacts' %}">
                    <li>Контакты</li>
                </a>
                <a href="{% url 'events' %}">
                    <li>События</li>
                </a>
            </ul>
        </div>
        <div class="column">
            <h3>Наш ассортимент</h3>
            <ul>
                {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail' category.slug %}">
                    <li>{{ category.Title_ru }}</li>
                </a>
                {% endif %} {% endfor %}
            </ul>

        </div>
        <div class="column">
            <h3>Проекты</h3>
            <ul>
                {% for q in projects %}
                <a href="{% url 'project-detail' q.pk %}">
                    <li>{{ q.title_ru }}</li>
                </a>
                {% endfor %}
            </ul>

        </div>

        <div class="mailing">
            <h3>Подпишитесь на новостную рассылку</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus platea scelerisque bibendum integer nisi, quis sollicitudin feugiat. </p>
            <form class="mail">
                  {% csrf_token %}
                <input type="email" id="email-sub" name="email">
                <button>Подписаться</button>
            </form>
        </div>

    </footer>
    <div class="load active"></div>
    <script src="{% static 'js/jq.js' %}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" charset="utf-8"></script>
    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
</body>

</html>