{% extends 'main/base.html' %} {% block content %} {% load static %}

<div class="content">
    <div class="section-part">
        <h1 class="caption">{{ event.title_ru }}</h1>
    </div>
    <section class="history ">
        <div class="text">
            <!--  <h1 class="caption">Цель</h1>-->
            <p>{{ event.description_text_ru }}</p>
        </div>
        <img src="{{ event.detail_image_1.url }}" class="history" alt="">
        <img src="{{ event.detail_image_2.url }}" class="history" alt="">
    </section>
    <div class="section-part ">
        <h1 class="caption down">Предыдущие мероприятия</h1>
    </div>
    <section id="prevent-events" class="prevent-events">
        {% for event in latest %}
        <div class="portfolio-item">
            <img class="cover" src="{{ event.preview_image.url }}" alt="">
            <h3 class="title">{{ event.title_ru }}</h3>
            <p>{{ event.description_text_ru }}</p>
            <a href="{{ event.pk }}" class="more-button">Далее <img src="{% static  'img/more-button-arrow.svg' %}" alt=""></a>
        </div>
        {% endfor %}
    </section>
</div>

{% endblock %}