{% extends 'main/base.html' %} {% block content %} {% load static %}

    <div class="content">



        {% if object_list %}
          <h2 class="caption" style="text-align: center;
            padding: 5vh 0">Найдено: {{ object_list|length }}</h2>

            <section class="brands">
                {% for brand in object_list %}
                    <div class="brand-item">
                        <div class="img-background">
                            <img src="{{ brand.preview_image.url }}" alt="" class="cover">
                        </div>
                        <h3 class="title">Продукция бренда {{ brand.title_ru }}</h3>
                        <a href="{% url 'brand-list' brand.slug %}">Посмотреть всю коллекцию</a>
                    </div>
                {% endfor %}

            </section>
        {% else %}
            <h2 class="caption" style="text-align: center;padding: 20vh 0">По ващему запросу ничего не найдено</h2>
            <a href="{% url 'main' %}" style="text-align: center; display: inline-block; margin-bottom: 100px; width: 100%; justify-self: center;" class="more-button">На главную</a>
        {% endif %}
    </div>
{% endblock %}