{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">

    <script src="{% static 'js/main.js' %}" charset="utf-8"></script>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/components.css' %}">
    <link rel="stylesheet" href="{% static 'css/response.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>English House</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=320">
</head>

<header>
    <a href="{% url 'main-eng' %}" class="logo-link"><img class="logo" src="{% static 'img/logo.png' %}" alt=""></a>
    <nav>
        <div class="left-links">
            <a href="{% url 'portfolio-eng' %}">Projects</a>
            <a href="{% url 'events-eng' %}">Events</a>
        </div>
        <div class="center-links">
            {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail-eng' category.slug %}">{{ category.Title_eng }}</a>
            {% endif %} {% endfor %}
            <form action="{% url 'search_results' %}" method="get" id="search">

                <input name="q" type="text" placeholder="Search...">
                <img src="{% static 'img/serch.svg' %}" alt="" class="search">
            </form>


        </div>
        <div class="right-links">

            <a href="{% url 'contacts-eng' %}">Contacts</a>

            <body id='shell'>
            <div class="switch_lang">

                <span id="ru" class="lang">RU</span>
                <span id='eng' class="lang active">ENG</span>
            </div>
        </div>
    </nav>
    <div class="mobile-header">
        <a href="{% url 'main' %}" class="mobile-logo-link">
            <img src="{% static 'img/logo-mobile.png' %}" alt="LOGO" class="mobile-logo">
        </a>
        <div class="menu">
            <div class="hambergerIcon"></div>
        </div>
    </div>
    <div class="nav-mobile">
        <h3>Assortment</h3>
        <ul>
            {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail-eng' category.slug %}">
                    <li>{{ category.Title_eng }}</li>
                </a>
            {% endif %} {% endfor %}
        </ul>
        <h3>English House</h3>
        <ul>
            <a href="{% url 'portfolio-eng' %}">
                <li>Projects</li>
            </a>
            <a href="{% url 'events-eng' %}">
                <li>Events</li>
            </a>
            <a href="{% url 'contacts-eng' %}">
                <li>Contacts</li>
            </a>
            <a href="{% url 'aboutus-eng' %}">
                <li>About us</li>
            </a>
        </ul>
        <ul>
            <a id="ru-version" href="#">
                <li>Русская версия</li>
            </a>
        </ul>
    </div>
</header>

{% block content %} {% endblock %}

<a class="call-mobile" href="tel:+7999999999"><img src="{% static 'img/call.svg' %}" alt=""></a>


<footer>
    <div class="column">
        <ul>
            <a href="{% url 'aboutus-eng' %}">
                <li>About us</li>
            </a>
            <a href="{% url 'contacts-eng' %}">
                <li>Contacts</li>
            </a>
            <a href="{% url 'events-eng' %}">
                <li>Events</li>
            </a>
        </ul>
    </div>
    <div class="column">

        <ul>
            {% for category in categories %} {% if category.brands.all %}
                <a href="{% url 'category_detail-eng' category.slug %}">
                    <li>{{ category.Title_eng }}</li>
                </a>
            {% endif %} {% endfor %}
        </ul>

    </div>
    <div class="column">
        <h3>Projects</h3>
        <ul>
            {% for q in projects %}
                <a href="{% url 'project-detail-eng' q.pk %}">
                    <li>{{ q.title_eng }}</li>
                </a>
            {% endfor %}
        </ul>

    </div>

    <div class="mailing">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus platea scelerisque bibendum integer nisi,
            quis sollicitudin feugiat. </p>

    </div>

</footer>

<div class="load active"></div>
<script src="{% static 'js/jq.js' %}" charset="utf-8"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" charset="utf-8"></script>
<script src="{% static 'js/main.js' %}" charset="utf-8"></script>
</body>

</html>