{% extends 'main/eng/base.html' %} {% block content %} {% load static %}
<div class="content">
    <div class="section-part">
        <h1 class="caption">{{ product.title_eng }}</h1>
        <a href="{% url 'brand-list-eng' product.Brand.slug %}"><img src="{{ product.Brand.preview_image.url }}" alt=""></a>
    </div>
    <section class="two-coluns">
        <img src="{{ product.detail_image_1.url }}" alt="">
        <div class="info-block right">
            <h3 class="title">Description</h3>
            <p>{{ product.description_text_eng }}</p>
        </div>

        <div class="info-block left">
            <h3 class="title">Information</h3>
            <div class="table">
                <span>SKU</span>
                <span>{{ product.sku }}</span>
                <span>Material</span>
                <span>{{ product.material_eng }}</span>
                <span>Shape</span>
                <span>{{ product.shape_eng }}</span>
            </div>
        </div>

        <img src="{{ product.detail_image_2.url }}" alt="">
    </section>
    <section class="four-columns">
        <img src="{{ product.detail_image_3.url }}" alt="">
        <img src="{{ product.detail_image_4.url }}" alt="">
        <img src="{{ product.detail_image_5.url }}" alt="">
        <img src="{{ product.detail_image_6.url }}" alt="">
    </section>
</div>
{% endblock %}